@model IEnumerable<DataAccess.AccessModel.ProductDetails>

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
    <div class="content">
        <div class="product-list">
            <div class="action-links">
                @Html.ActionLink("Add Detail", "EditProduct", new { ViewBag.Id })
            </div>

            <div class="product-list-header">
                <h3>Apple</h3>
                <div class="product-list-result">
                    <div class="product-sort">
                        <p>Sort by date</p>
                        <div class="dropdown"></div>
                    </div>
                    <p>Showing result 1 - 15 of 25 results</p>
                </div>
            </div>

            <div class="product-list-items">
                @foreach (var item in Model)
                {
                    <a href="" class="item">
                        <div class="item-img">
                            @foreach (var photo in item.Photos)
                            {
                                <img src="@photo.PhotoSrc" alt="@photo.PhotoTitle" srcset="">
                            }
                        </div>
                        <div class="item-detail">
                            <h5>@item.Name</h5>
                            <h5>@item.Storage GB</h5>
                            <div class="price">
                                <p>$@item.Price</p>
                                <p>$1799</p>
                            </div>

                        </div>
                    </a>
                }
            </div>
        </div>
    </div>


